:root {
    --nav-color: #fefefe;
    --card-color: #fefefe;
    --bg-color: #f6f5f8;
    --main-text-color: #333333;
    --light-text-color: #979797;
    --soft-light-text-color: #d5d5d5;
    --main-highlight: #429ccd;
    --secondary-highlight: #8bd3fa;

    --nav-btn-active: #eeedf9;
    --nav-btn-active: #e8f3f9;

    --text-primary-dark: #1f1468;

    --highlight-blue: #d6e9ff;
    --highlight-green: #d6ffe0;
    --highlight-purple: #efd6ff;
    --highlight-red: #ffd6d6;
    --highlight-yellow: #faffd6;

    --highlight-blue-text: #67a9f4;
    --highlight-green-text: #67f475;
    --highlight-purple-text: #9167f4;
    --highlight-red-text: #f46767;
    --highlight-yellow-text: #f4ef67;
}

* {
    margin: 0px;
    padding: 0px;

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--bg-color);
    color: var(--main-text-color);
}

.container {
    display: grid;
    grid-template-columns: clamp(200px, 25%, 280px) 4fr;

    width: 100vw;
    height: 100vh;
}

.sidebar {
    grid-column: 1 / 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: var(--nav-color);
}

.logo-container {
    height: 14%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 6px;

    font-size: clamp(26px, 5vw, 32px);
    font-weight: 800;

    user-select: none;
}

.logo > img {
    width: clamp(26px, 5vw, 40px);
}

.sidebar-footer {
    height: 8%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-sticky {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.task-bar-container {
    display: flex;
    flex-direction: column;
    gap: 3px;

    width: min(70%, 180px);
    position: fixed;
    bottom: 20px;
    left: calc(0px + 1.8%);
}

.task-bar-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-bar-title {
    font-weight: 600;
    font-size: 16px;
}

.task-bar-number {
    color: var(--light-text-color);
    font-size: 14px;
    font-weight: 500;
}

.task-progress {
    width: 100%;
    height: 2px;
    background-color: #ebebeb;
    border-radius: 5px;
}

.task-progess-fill {
    height: 100%;
    float: left;
    width: 66.7%;
    background-color: var(--main-highlight);
    opacity: 100%;

    animation: progressBar 0.6s ease-in-out;
    animation-fill-mode: both;
}

.task-bar-container:hover > .task-bar > .task-progress > .task-progess-fill {
    animation: progressBar 0.3 ease-in-out;
    animation-fill-mode: both;
}

@keyframes progressBar {
    0% {
        width: 0;
    }
    100% {
        width: 66.7%;
    }
}

.side-nav {
    padding: 10%;
    height: 82%;
    display: flex;
    flex-direction: column;
    padding: 12%;
    gap: 60px;
}

.side-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.side-title {
    display: flex;
    flex-direction: column;
    gap: 2px;

    font-size: 14px;
    font-weight: 600;
    color: var(--soft-light-text-color);
    height: 30px;
}

.h-bar {
    width: 60%;
    height: 1px;
    background-color: var(--soft-light-text-color);
}

.sidebar-btn {
    width: 100%;
    height: 35px;

    background-color: #00000000;
    border: 2px solid #00000000;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 6px;
    padding-left: 6px;

    color: var(--light-text-color);
    transition: all 0.2s ease 0s;
}

.sidebar-btn:hover {
    cursor: pointer;
}

.sidebar-btn.selected {
    background-color: var(--nav-btn-active);
    transform: scale(1.1);
}

.sidebar-btn:hover:not(.selected) {
    border: 2px solid var(--nav-btn-active);
}

.sidebar-btn p {
    font-size: 14px;
    font-weight: 700;
}

.sidebar-btn > img.icon {
    width: 25px;
    filter: invert(61%) sepia(4%) saturate(0%) hue-rotate(129deg)
        brightness(101%) contrast(83%);
}

.sidebar-btn.selected > img.icon {
    filter: invert(20%) sepia(0%) saturate(3125%) hue-rotate(202deg)
        brightness(91%) contrast(95%);
}

.sidebar-btn.selected {
    color: var(--main-text-color);
}

main {
    columns: 2/3;
    display: grid;
    grid-template-rows: 15% 85%;

    height: 120vh;
}

.header {
    grid-template-columns: 2/3;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 4%;
}

.welcome,
.time-text {
    font-size: 42px;
    font-weight: 700;
    color: var(--text-primary-dark);
}

.account-info {
    text-align: right;
}
.account-info > .name {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-primary-dark);
}

.account-info > .role {
    font-size: 14px;
    font-weight: 600;
    color: var(--light-text-color);
}

.account-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.account-img {
    width: 36px;
    height: 36px;

    min-width: 20px;
    flex-shrink: 0;

    border-radius: 50%;
    border: 2px solid var(--text-primary-dark);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("./assets/profile-pic-bright.jpg");
}

.account-img:hover {
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 18px;
}
.v-bar {
    width: 2px;
    height: 45px;
    background-color: var(--soft-light-text-color);
}

.todays-date {
    height: 40px;
    width: 112px;

    background-color: #e8e5e5;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    user-select: none;
}

.todays-date > .icon {
    width: 24px;
    filter: invert(13%) sepia(36%) saturate(4223%) hue-rotate(237deg)
        brightness(57%) contrast(112%);
}

.cal-text {
    color: var(--text-primary-dark);
    font-size: 16px;
    font-weight: 700;
}

.content {
    width: 85%;
    justify-self: center;

    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: 350px;
    gap: 1%;
}

.grid-item-sm {
    padding: 2% 4%;
}
.card {
    width: 100%;
    height: 100%;

    background-color: var(--card-color);
    border-radius: 18px;
    box-shadow: rgba(149, 157, 165, 0.2) 4px 8px 24px;
}
.card-body {
    padding: 32px;
    display: grid;
    grid-template-rows: 1fr 6.5fr;
    gap: 16px;
}

.card-title {
    grid-row: 1 / 2;
    font-size: 28px;
    font-weight: 700;
}

.card-content {
    grid-row: 2/3;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: flex-start;
    align-items: center;
}

.todo-item {
    width: 100%;
    height: 45px;

    border-radius: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    transition: all 0.2s ease 0s;

    animation: growAnimation 0.3s;
}

.todo-item.blue {
    background-color: var(--highlight-blue);
}

.todo-item.green {
    background-color: var(--highlight-green);
}

.todo-item.purple {
    background-color: var(--highlight-purple);
}

.todo-item.red {
    background-color: var(--highlight-red);
}

.todo-item > img {
    filter: invert(61%) sepia(4%) saturate(0%) hue-rotate(129deg)
        brightness(101%) contrast(83%);
    width: 10px;

    padding-left: 3%;
    padding-right: 1%;

    user-select: none;
}

.todo-item > p {
    font-weight: 600;
    font-size: 18px;
    filter: brightness(60%);
}

p.blue {
    color: var(--highlight-blue-text);
}

p.green {
    color: var(--highlight-green-text);
}

p.purple {
    color: var(--highlight-purple-text);
}

p.red {
    color: var(--highlight-red-text);
}

.todo-item:hover {
    filter: brightness(96%);
    transform: scale(1.05);
}

@keyframes growAnimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    gap: 6px;
    column-gap: 12px;
}

@keyframes slideIn {
    0% {
        transform: translateX(-60px);
        opacity: 0%;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

.tag {
    height: 16px;
    padding: 1px 4px;

    font-size: 10px;
    font-weight: 600;
    border-radius: 5px;
}

.tags > .tag {
    animation: slideIn 0.8s forwards;
}

.tag:hover {
    cursor: pointer;
}

.tag.green {
    background-color: var(--highlight-green);
    color: var(--highlight-green-text);
}

.tag.yellow {
    background-color: var(--highlight-yellow);
    color: var(--highlight-yellow-text);
}
.tag.blue {
    background-color: var(--highlight-blue);
    color: var(--highlight-blue-text);
}
.tag.purple {
    background-color: var(--highlight-purple);
    color: var(--highlight-purple-text);
}
.tag.red {
    background-color: var(--highlight-red);
    color: var(--highlight-red-text);
}

.tag > p {
    filter: brightness(60%);
}

.commit-grid.card-content {
    display: grid;
    grid-template-rows: 5fr 5fr ;
}

.calendar-board {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.counter {
    width: 100%;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.calendar-tile {
    height: 75%;
    width: 20%;
    border: 2px solid var(--soft-light-text-color);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar-tile.selected {
    border-color: var(--secondary-highlight);
    background-color: var(--secondary-highlight);
}

.day-text {
    font-weight: 600;
    color: var(--text-primary-dark);
}

.day-num {
    font-weight: 700;
    font-size: 32px;
    color: var(--main-text-color);
}

.tag-p > .tag {
    
    height: 20px;
    pad: 4px 8px;

    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;

   justify-self: center;

   user-select: none;

}

.counter > p {
    font-size: 52px;
    font-weight: 600;
}

.tag-p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 15px;

    min-width: 220px;
}

#commit-tag {
    cursor: default;
}